# Don't commit Python cache
__pycache__/
data/__pycache__/
scraper/__pycache__/
*.py[cod]

# Don't commit IDE settings
.idea/

# Don't commit virtual environment
.venv/

# Input files
data/input/sites.txt
data/input/police_sites.txt

# Output directory (gets created if not existing, see "config.py")
/data/output
/data/logs